<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<title>Welcome</title>

    <!-- ================================================================== -->
    <!--  Javascript Start -->
    <!-- ================================================================== -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- ================================================================== -->
    <!--   Javascript End -->
    <!-- ================================================================== -->

    <!-- ================================================================== -->
    <!--  CSS Start -->
    <!-- ==================================================================
        <link href="./static/css/dashboard.css" rel="stylesheet" type="text/css">-->
    <!-- ================================================================== -->
    <!--   CSS End -->
    <!-- ================================================================== -->
</head>

<br><br>

<div class="container-fluid">
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<h3>Dashboard</h3><br>

<div class="row">

<div class="col-md-10">

   {{ test }}






</div>

</div>



</div>
</div>
</div>
</body>
</html>


